
.container-ele{
    top:0;
    bottom:0;
    position:absolute;
    width:100%;
    height:100%;
    background-color: #fcd5d5;
    
}

.container-ele{
    
    display: flex;
}




.form-ele {
    margin-top: 50px;
    margin-left: 120px;
    display: inline-block;
    height: 200px;
    width: 80%;
   
  }
  
  .form-grp{
      margin-top: 10px;
  }

.button-ele{
    margin-top: 10px;
   
    
    border: 2px solid #465283;
    width: 100%;
    cursor: pointer;
    
}

.button-ele:hover{
    
    background-color: #405092;
}

.form-Control-el{
    border: 2px solid #24305e;
}

.btn{
    background-color: #374785;
}
