.topic{
    margin-top: 80px;
    padding-top: 30px;
    text-align: left;
}
.para{
    padding-top: 40px;
}
.image-location{
    margin-right: 0;
    width:10px;
    height: 20px;
}
.leftside{
    width:70%;
    margin-left: 0;
}
img, svg {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    margin-right: 0;
}