@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');

/* .addfood{
    margin-top: 10px;
    background-color: #ffffff;
}

.control-el{
    border-color: #24305e;
}
*/

.addfood-map{
  height: 300px;
}

.button-el{
  color: white;
  border-color:#24305e;
  background-color:#333c61;
  width: 100%;
  margin-bottom: 100px;
}

.button-el:hover{
  background-color: #405092;
  color: #ffffff;
}

.img1-el{
  width:30%;
  margin-top: 80px;
    padding-top: 30px;
} 
